# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [325]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [326]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [328]:
spaceship.shape

(8693, 14)

**Check for data types**

In [330]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [332]:
spaceship.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [334]:
spaceship.dropna(how='any', axis=0, inplace=True)

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [336]:
spaceship['Cabin'].value_counts()

Cabin
B/11/S      7
E/13/S      7
C/137/S     7
G/734/S     7
G/1476/S    7
           ..
F/1/P       1
A/98/P      1
G/1499/S    1
G/1500/S    1
F/3/S       1
Name: count, Length: 5305, dtype: int64

In [337]:
spaceship['Cabin'] = spaceship['Cabin'].apply(lambda x: x.split('/')[0])

In [338]:
spaceship['Cabin'].value_counts()

Cabin
F    2152
G    1973
E     683
B     628
C     587
D     374
A     207
T       2
Name: count, dtype: int64

- Drop PassengerId and Name

In [340]:
spaceship.drop(['PassengerId', 'Name'], axis=1, inplace=True)

In [341]:
spaceship.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

- For non-numerical columns, do dummies.

In [343]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [344]:
print(spaceship['HomePlanet'].value_counts())
enc.fit(spaceship['HomePlanet'])
spaceship['HomePlanet'] = enc.transform(spaceship['HomePlanet'])
print(spaceship['HomePlanet'].value_counts())

HomePlanet
Earth     3566
Europa    1673
Mars      1367
Name: count, dtype: int64
HomePlanet
0    3566
1    1673
2    1367
Name: count, dtype: int64

In [345]:
print(spaceship['CryoSleep'].value_counts())
enc.fit(spaceship['CryoSleep'])
spaceship['CryoSleep'] = enc.transform(spaceship['CryoSleep'])
print(spaceship['CryoSleep'].value_counts())

CryoSleep
False    4274
True     2332
Name: count, dtype: int64
CryoSleep
0    4274
1    2332
Name: count, dtype: int64

In [346]:
print(spaceship['Cabin'].value_counts())
enc.fit(spaceship['Cabin'])
spaceship['Cabin'] = enc.transform(spaceship['Cabin'])
print(spaceship['Cabin'].value_counts())

Cabin
F    2152
G    1973
E     683
B     628
C     587
D     374
A     207
T       2
Name: count, dtype: int64
Cabin
5    2152
6    1973
4     683
1     628
2     587
3     374
0     207
7       2
Name: count, dtype: int64

In [347]:
print(spaceship['Destination'].value_counts())
enc.fit(spaceship['Destination'])
spaceship['Destination'] = enc.transform(spaceship['Destination'])
print(spaceship['Destination'].value_counts())

Destination
TRAPPIST-1e      4576
55 Cancri e      1407
PSO J318.5-22     623
Name: count, dtype: int64
Destination
2    4576
0    1407
1     623
Name: count, dtype: int64

In [348]:
print(spaceship['VIP'].value_counts())
enc.fit(spaceship['VIP'])
spaceship['VIP'] = enc.transform(spaceship['VIP'])
print(spaceship['VIP'].value_counts())

VIP
False    6444
True      162
Name: count, dtype: int64
VIP
0    6444
1     162
Name: count, dtype: int64

**Perform Train Test Split**

In [350]:
features = spaceship.drop(columns = ["Transported"])
target = spaceship["Transported"]

In [351]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [354]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [355]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

- Evaluate your model's performance. Comment it

In [357]:
knn.score(X_test, y_test)

0.7549167927382754

### The score of 75.49% indicates that the model performs reasonably well, correctly predicting three-quarters of the cases.